body{
    margin: 0;
    border: none;
    background-color: gold;
    color:
}
a{
    text-decoration: none;
    color: gold;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    
}
.header-right{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.header-bottom{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: -25px;
    background-color: rgb(231, 205, 231);
}
.logo{
    margin-left: 10px;
}